# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\eire1\Documents\My Web Projects\ProjectSubmissionMovieReview\ProjectSubmissionMovieReview\MovieReviewV-Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
